<div id="header-left">
  <img src="RC_logo.png" />
</div>
<div id="header-right">
  <!-- Search Box -->
  <input type="text" placeholder="Global Search" id="search-box" />

  <!-- Language Dropdown -->
  <select id="language-select">
    <option value="en">English</option>
    <option value="es">Español</option>
    <option value="fr">Français</option>
    <option value="de">Deutsch</option>
  </select>

  <!-- Profile Icon -->
  <button id="profile-button">
    <i class="fa fa-user-shield"></i>
  </button>
</div>
