<div id="footer-body">
  <div id="footer-left">
    <img src="serigor.jpg" />
  </div>
  <div id="footer-right">
    <div class="footer-link-stack">
      <div class="footer-link-title">State RC</div>
      <div class="footer-link">Onboarding Video</div>
      <div class="footer-link">Glossary</div>
      <div class="footer-link">Contact Us</div>
    </div>
    <div class="footer-link-stack">
      <div class="footer-link-title">Resources</div>
      <div class="footer-link">Discussion Forum</div>
    </div>
  </div>
</div>
<div id="footer-copyright">All rights reserved by Serigor. ©2025</div>
