<footer>
    <div class="logo-left">
      <!-- Placeholder for Logo -->
      <img src="assets/serigorlogo.jpg" alt="Serigor Logo">
    </div>
    <div class="footer-links">
      <div class="footer-links-list">
        <p>State RC</p>
        <a href="#">How It Works</a>
        <a href="#">Definitions</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="footer-links-list">
        <p>To be decided</p>
        <a href="#">Blog Post Name List</a>
        <a href="#">Blog Post Name List</a>
      </div>
      <div class="footer-links-list">
        <p>ABOUT</p>
        <a href="#">Terms & Conditions</a>
        <a href="#">Privacy Policy</a>
        <div id="social-media">
          <i class="fa-brands fa-twitter"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div></div>
  </footer>
  