<div id="search-box">
  <input type="text" placeholder="Search Schools by Name or ID" />
</div>

<div id="advanced-search">
  <div id="select-county-box">
    <select id="select-county">
      <option value="" disabled selected>Select County</option>
      <option value="county1">County 1</option>
      <option value="county2">County 2</option>
      <option value="county3">County 3</option>
    </select>
    <i class="fas fa-chevron-down"></i>
    <i class="fas fa-paper-plane"></i>
  </div>

  <div id="select-school-box">
    <select id="select-school">
      <option value="" disabled selected>Select School</option>
      <option value="school1">School 1</option>
      <option value="school2">School 2</option>
      <option value="school3">School 3</option>
    </select>
    <i class="fas fa-chevron-down"></i>
    <i class="fas fa-paper-plane"></i>
  </div>
</div>
