<div class="data-container">
    <div class="data-header">
      <h2>State Data</h2>
      <i id="uparrow" class="fa-solid fa-square-arrow-up-right"></i>
    </div>
    <!-- Placeholder for Graphs -->
    <div class="graphs">
      <div class="graph-placeholder">Graph Placeholder 1</div>
      <div class="graph-placeholder">Graph Placeholder 2</div>
      <div class="graph-placeholder">Graph Placeholder 3</div>
      <div class="graph-placeholder">Graph Placeholder 4</div>
      <div class="graph-placeholder">Graph Placeholder 5</div>
    </div>
    
  </div>
  