.data-container {
    background-color: #f0f0f0;
    margin: 2rem;
    border-radius: 1rem;
  }
  
  .data-header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }
  
  #uparrow {
    font-size: 2rem;
  }
  
  .graphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
  }
  
  .graph-placeholder {
    border: 2px solid black;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #f0a35c;
    min-width: 10rem;
    margin: 1rem;
    flex-grow: 1;
  }