<div id="map-header">Help Me Locate Schools Near Me</div>
<div id="map-body">
  <div id="map-schools-list">
    <div class="map-school">
      <div class="map-school-name">Serigor University</div>
      <div class="map-school-address">9256 Bendix Rd. 304</div>
    </div>
    <div class="map-school">
      <div class="map-school-name">Serigor University</div>
      <div class="map-school-address">9256 Bendix Rd. 304</div>
    </div>
    <div class="map-school">
      <div class="map-school-name">Serigor University</div>
      <div class="map-school-address">9256 Bendix Rd. 304</div>
    </div>
  </div>
  <div id="map"></div>
</div>
<div id="search-box">
  <input type="text" placeholder="Enter address or zip code" />
</div>
