<div id="sidebar-div">
  <div id="sidebar-top">
    <button><i class="fa fa-bars"></i></button>
    <button><i class="fa fa-home"></i></button>
    <button><i class="fa fa-bar-chart"></i></button>
    <button><i class="fa fa-users"></i></button>
    <button><i class="fa fa-graduation-cap"></i></button>
    <button><i class="fa fa-dollar-sign"></i></button>
  </div>
  <div id="sidebar-bottom">
    <button><i class="fa fa-question-circle"></i></button>
    <button><i class="fa fa-info-circle"></i></button>
  </div>
</div>
