<div class="dashboard-header">
  <h1><b>CALIFORNIA STATE</b></h1>
  <i class="fa fa-up-right-from-square"></i>
</div>

<div class="dashboard-body">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-header">
          ENROLLMENT
          <i class="fa-solid fa-arrows-rotate"></i>
        </div>
        <div class="card-body">890,173</div>
      </div>
      <div class="flip-card-back">
        <h1>Test data</h1>
        Lorem ipsum lorem ipsum I am lorem ipsum
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-header">Graduation Rate</div>
        <div class="card-body">91.6%</div>
      </div>
      <div class="flip-card-back">
        <h1>Test data</h1>
        Lorem ipsum lorem ipsum I am lorem ipsum
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-header">Attendance Rate</div>
        <div class="card-body">87.55%</div>
      </div>
      <div class="flip-card-back">
        <h1>Test data</h1>
        Lorem ipsum lorem ipsum I am lorem ipsum
      </div>
    </div>
  </div>

  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="card-header">Student-Teacher Ratio</div>
        <div class="card-body">
          <img src="serigor.jpg" style="height: 5rem; width: auto" />
        </div>
      </div>
      <div class="flip-card-back">
        <h1>Test data</h1>
        Lorem ipsum lorem ipsum I am lorem ipsum
      </div>
    </div>
  </div>
</div>
